


<div style="margin: 20px;">
  <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-6 p-3 mb-2 bg-light text-dark">
        
        <form #employeeForm="ngForm" (ngSubmit)="createEmployee(); employeeForm.resetForm()">
          <div class="form-group">
            <label for="name">Employee Name:</label>
            <input required #name="ngModel" [(ngModel)]="saveEmployee.name" 
            placeholder="Employee Name" name="name" [class.is-invalid]="name.invalid && name.touched"  
            class="form-control" id="name">
            <small class="text-danger" [class.d-none]= "name.valid || name.untouched">Employee name is required</small>
          </div>
        
          <div class="form-group">
            <label for="address">Address:</label>
            <input [(ngModel)]="saveEmployee.address" placeholder="Address" 
            required #address="ngModel" [class.is-invalid]="address.invalid && address.touched"
            name="address" class="form-control" id="address">
            <small class="text-danger" [class.d-none]= "address.valid || address.untouched">Address is required</small>
          </div>
          
          <div class="form-group">
            <label for="empId">Mobile Number:</label>
            <input required #mobileNo="ngModel" [class.is-invalid]="mobileNo.invalid && mobileNo.touched" 
            pattern="(^([+]{1}[8]{2})?(01){1}[3-9]{1}\d{8})$"
            [(ngModel)]="saveEmployee.mobileNo" placeholder="Mobile Number" name="mobileNo" class="form-control" id="mobileNo">
            <small class="text-danger" [class.d-none]= "mobileNo.valid || mobileNo.untouched">Invalid Mobile Number</small>
          </div>

          <div class="form-group">
            <label for="gradeOid">Grade:</label>
            <select [(ngModel)]="saveEmployee.gradeOid" id="gradeOid" name="gradeOid"  
            required #gradeOid="ngModel" [class.is-invalid]="gradeOid.invalid && gradeOid.touched"
            placeholder="gradeOid" class="form-control">
                <option *ngFor="let gd of grades" [value]="gd.key">{{gd.value}}</option>
            </select>
            <small class="text-danger" [class.d-none]= "gradeOid.valid || gradeOid.untouched">Please select status</small>
          </div>
          
          <div class="form-group">
            <label for="accountName">Account Name:</label>
            <input required #accountName="ngModel" [class.is-invalid]="accountName.invalid && accountName.touched" 
            [(ngModel)]="saveEmployee.accountName" placeholder="Account Name" name="accountName" class="form-control" id="accountName">
            <small class="text-danger" [class.d-none]= "accountName.valid || accountName.untouched">Account name is required</small>
          </div>

          <div class="form-group">
            <label for="accountType">Account Type:</label>
            <select [(ngModel)]="saveEmployee.accountType" id="accountType" name="accountType"  
            required #accountType="ngModel" [class.is-invalid]="accountType.invalid && accountType.touched"
            placeholder="accountType" class="form-control">
                <option *ngFor="let ac of accountTypes" [value]="ac.key">{{ac.value}}</option>
            </select>
            <small class="text-danger" [class.d-none]= "accountType.valid || accountType.untouched">Please select Account Type</small>
          </div>
          
          <div class="form-group">
            <label for="bankAccountNo">Bank Account Number:</label>
            <input required #bankAccountNo="ngModel" [class.is-invalid]="bankAccountNo.invalid && bankAccountNo.touched" 
            [(ngModel)]="saveEmployee.bankAccountNo" placeholder="Bank Account Number" name="bankAccountNo" class="form-control" id="bankAccountNo">
            <small class="text-danger" [class.d-none]= "bankAccountNo.valid || bankAccountNo.untouched">Account Number is required</small>
          </div>
          
          <div class="form-group">
            <label for="bankName">Bank Name:</label>
            <input required #bankName="ngModel" [class.is-invalid]="bankName.invalid && bankName.touched" 
            [(ngModel)]="saveEmployee.bankName" placeholder="Bank Name" name="bankName" class="form-control" id="bankName">
            <small class="text-danger" [class.d-none]= "bankName.valid || bankName.untouched">Bank name is required</small>
          </div>
          
          <div class="form-group">
            <label for="branchName">Branch Name:</label>
            <input required #branchName="ngModel" [class.is-invalid]="branchName.invalid && branchName.touched" 
            [(ngModel)]="saveEmployee.branchName" placeholder="Branch Name" name="branchName" class="form-control" id="branchName">
            <small class="text-danger" [class.d-none]= "branchName.valid || branchName.untouched">Branch name is required</small>
          </div>
          <button [disabled]="employeeForm.form.invalid" class="btn btn-success">Create Employee</button>
        </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 p-3 mb-2">
        <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Employee List
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  
          <mat-paginator
            [pageSizeOptions]="[10, 15, 20, 30]"
            showFirstLastButtons
            (page)="pageChanged($event)">
          </mat-paginator>
          <div *ngIf="loading;else table">
            <mat-spinner class="center"></mat-spinner>
          </div>
          
          <ng-template #table>
            <table mat-table [dataSource]="dataSource">
                displayedColumns: string[] = ['employeeId', 'name', 'mobileNo', 'address', 'bankAccountNo'];
              <!-- employeeId Column -->
              <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef> Employee ID </th>
                <td mat-cell *matCellDef="let row"> {{row.employeeId}} </td>
              </ng-container>
          
              <!-- name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- mobileNo Column -->
              <ng-container matColumnDef="mobileNo">
                <th mat-header-cell *matHeaderCellDef> Mobile No </th>
                <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
              </ng-container>
  
               <!-- address Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let row"> {{row.address}}</td>
              </ng-container>
  
              <!-- bankAccountNo Column -->
              <ng-container matColumnDef="bankAccountNo">
                <th mat-header-cell *matHeaderCellDef> Bank Account No </th>
                <td mat-cell *matCellDef="let row"> {{row.bankAccounts[0].bankAccountNo}}</td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-template>
        </div>
    </div>


  </div>
</div>
