<div mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 p-3 mb-2 bg-light text-dark">
                <div>
                    <h4 class="card-title text-dark">Gateway Detail</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Id: <span class="badge">{{data.gatewayOid}}</span></li>
                        <li class="list-group-item">Serial Number: <span class="badge">{{data.serialNumber}}</span></li>
                        <li class="list-group-item">Gateway Name: <span class="badge">{{data.gatewayName}}</span></li>
                        <li class="list-group-item">IPv4 Address: <span class="badge">{{data.ipv4Address}}</span></li>
                    </ul>
                </div>
                <br/>
                <div *ngIf="data.peripheralDevices.length">
                    <h5 class="text-center">Peripheral Device List</h5>
                
                    <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>UID</th>
                        <th>Vendor</th>
                        <th>Created On</th>
                        <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of data.peripheralDevices">
                            <td>{{device.uid}}</td>
                            <td>{{device.vendor}}</td>
                            <td>{{device.createdOn}}</td>
                            <td>{{device.status}}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div *ngIf="!data.peripheralDevices.length">
                    <h5 class="text-center">Peripheral Device Not Added</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div>
  <button mat-button mat-dialog-close>Close</button>
</div>