<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="http://localhost:4200/" class="navbar-brand"><img width="60" alt="MICRO LOGO" src="assets/logo.svg">&nbsp;MIC-FRONTEND</a></div>
    <ul class="navbar-nav">
        <li><a *ngIf="loginService.isUserLoggedIn()"  routerLink="/grade" class="nav-link" routerLinkActive="active">Grade</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()"  routerLink="/company" class="nav-link" routerLinkActive="active">Company Account</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()"  routerLink="/employee" class="nav-link" routerLinkActive="active">Employee</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()"  routerLink="/salary" class="nav-link" routerLinkActive="active">Salary</a></li>
        <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()"  routerLink="/logout" class="nav-link">LogOut</a></li>
    </ul>
    </nav>
</header>