<br/>

<form>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="lowestBasic" class="col-sm-2 col-form-label">Basic Salary of Lowest Grade : </label>
        <div class="col-sm-2">
            <input name="lowestBasic" [(ngModel)]="lowestBasic" type="text" class="form-control" id="lowestBasic" placeholder="Lowest Basic Salary" OnlyNumber="true">
        </div>
        <div class="col-sm-2">
            <button (click)=updateBasic() class="btn btn-success">
                Update Basic Salary
              </button>
        </div>
    </div>
</form>


<div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Grade List
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  
          <mat-paginator
            [pageSizeOptions]="[10, 15, 20, 30]"
            showFirstLastButtons
            (page)="pageChanged($event)">
          </mat-paginator>
          <div *ngIf="loading;else table">
            <mat-spinner class="center"></mat-spinner>
          </div>
          
          <ng-template #table>
            <table mat-table [dataSource]="dataSource">
          
              <!-- Grade Number Column -->
              <ng-container matColumnDef="gradeNumber">
                <th mat-header-cell *matHeaderCellDef> Grade Number </th>
                <td mat-cell *matCellDef="let row"> {{row.gradeNumber}} </td>
              </ng-container>
          
              <!-- gradeName Column -->
              <ng-container matColumnDef="gradeName">
                <th mat-header-cell *matHeaderCellDef> Grade Name </th>
                <td mat-cell *matCellDef="let row"> {{row.gradeName}} </td>
              </ng-container>
          
              <!-- basic Column -->
              <ng-container matColumnDef="basic">
                <th mat-header-cell *matHeaderCellDef> Basic </th>
                <td mat-cell *matCellDef="let row"> {{row.basic | number :'1.2-2'}} </td>
              </ng-container>
  
               <!-- houseRentInPer Column -->
              <ng-container matColumnDef="houseRentInPer">
                <th mat-header-cell *matHeaderCellDef> House Rent </th>
                <td mat-cell *matCellDef="let row"> {{row.houseRentInPer}}%</td>
              </ng-container>
  
              <!-- medicalAllowanceInPer Column -->
              <ng-container matColumnDef="medicalAllowanceInPer">
                <th mat-header-cell *matHeaderCellDef> Medical Allowance </th>
                <td mat-cell *matCellDef="let row"> {{row.medicalAllowanceInPer}}%</td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-template>
        </div>