@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.isa_info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }
  .isa_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .isa_warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .isa_error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
  }
  
  .isa_default {
    color: #333;
    background-color: #fff;
  }
  
  .mat-snack-bar-container{
     margin-right: 15px !important;
  }
  
  .mat-simple-snackbar {
    font-size: 15px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
  }
  
  .mat-radio-button {
    font-size: 14px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif  !important;
  }


.pointer {
    cursor: pointer;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .center{
    width: 50%;
    margin: auto;
}

.label{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
  }
  
  .mat-paginator-navigation-first {
    background: #11c15b;
  }
  
  .label-success{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
    background: #11c15b;
  }
  
  .label-warning{
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 400;
    color: #fff !important;
    background: #e5e500;
  }


  


  

  loto-font {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #224607;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 30%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #224607 !important;
    color: #fff;
}