<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 p-3 mb-2 bg-light text-dark">
            <div>
                <h4 class="card-title text-dark">Company Bank Account Information</h4>
                <ul class="list-group">
                    <li class="list-group-item">Bank Account Number: <span class="badge">{{companyAccountInfo.bankAccountNo}}</span></li>
                    <li class="list-group-item">Current Balance: <span class="badge">{{companyAccountInfo.currentBalance | number :'1.2-2'}}</span></li>
                    <li class="list-group-item">Account Name: <span class="badge">{{companyAccountInfo.accountName}}</span></li>
                    <li class="list-group-item">Account Type: <span class="badge">{{companyAccountInfo.accountType}}</span></li>
                    <li class="list-group-item">Bank Name: <span class="badge">{{companyAccountInfo.bankName}}</span></li>
                    <li class="list-group-item">Branch Name: <span class="badge">{{companyAccountInfo.branchName}}</span></li>
                </ul>
            </div>
        </div>

        <br/>

        <div class="col-xs-12 col-sm-12 col-md-12 p-3 mb-2 bg-danger text-dark">
            <ul class="list-group">
                <li class="list-group-item">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="depositAmount" class="col-sm-2 col-form-label">Deposit Amount : </label>
                            <div class="col-sm-2">
                                <input name="depositAmount" [(ngModel)]="depositAmount" type="text" class="form-control" id="depositAmount" placeholder="Deposit Amount" OnlyNumber="true">
                            </div>
                            <div class="col-sm-2">
                                <button (click)=deposit() class="btn btn-success">
                                    Deposit
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
