<!--
<div class="container">
    <div>
      User Name : <input type="text" name="username" [(ngModel)]="username">
      Password : <input type="password" name="password" [(ngModel)]="password">
    </div>
    <button (click)=checkLogin() class="btn btn-success">
      Login
    </button>
</div>
-->

<div class="sidenav loto-font">
  <div class="login-main-text">
      <h2>Micro<br> Front End</h2>
      <p>Login from here to access.</p>
  </div>
</div>
 <div class="main loto-font">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>User Name</label>
                <input type="text"class="form-control" placeholder="User Name" name="username" [(ngModel)]="username">
             </div>
             <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password">
             </div>

            <button (click)=checkLogin() class="btn btn-black">Login</button>
          </form>
       </div>
    </div>
 </div>