.mat-column-name {
    flex: none;
    width: 15%;
}
.mat-column-month {
    flex: none;
    width: 5%;
}
.mat-column-year {
    flex: none;
    width: 5%;
}
.mat-column-gradeNumber {
    flex: none;
    width: 5%;
}
.mat-column-gradeName {
    flex: none;
    width: 10%;
}
.mat-column-basic {
    flex: none;
    width: 10%;
}
.mat-column-houseRent {
    flex: none;
    width: 10%;
}
.mat-column-medicalAllowance {
    flex: none;
    width: 10%;
}

.mat-column-totalSalary {
    flex: none;
    width: 10%;
}