<br/>

<form>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <select [(ngModel)]="month" id="month" name="month"  placeholder="Select Month" class="form-control">
                <option value="" disabled selected hidden>Select Month</option>
                <option *ngFor="let mn of months" [value]="mn.key">{{mn.value}}</option>
              </select>
        </div>
        <div class="col-sm-2">
            <select [(ngModel)]="year" id="year" name="year"  placeholder="Select Year" class="form-control">
              <option value="" disabled selected hidden>Select Year</option>
              <option *ngFor="let yr of years" [value]="yr.key">{{yr.value}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button (click)=calculateSalary() class="btn btn-success">
                Calculate Salary
            </button>
            &nbsp;
            <button (click)=downloadSalaryStatement() class="btn btn-info">
              Download Salary Sheet
            </button>
        </div>
    </div>
</form>


<div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Grade List
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  
          <mat-paginator
            [pageSizeOptions]="[10, 15, 20, 30]"
            showFirstLastButtons
            (page)="pageChanged($event)">
          </mat-paginator>
          
          <div *ngIf="loading;else table">
            <mat-spinner class="center"></mat-spinner>
          </div>
          
          <ng-template #table>
            <table mat-table [dataSource]="dataSource">
                displayedColumns: string[] = ['name', 'month', 'year', 'gradeNumber', 'gradeName', 'basic', 'houseRent', 'medicalAllowance', 'totalSalary'];
              <!-- name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Employee Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- month Column -->
              <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef> Month </th>
                <td mat-cell *matCellDef="let row"> {{row.month}} </td>
              </ng-container>
          
              <!-- year Column -->
              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let row"> {{row.year}} </td>
              </ng-container>
  
               <!-- gradeNumber Column -->
              <ng-container matColumnDef="gradeNumber">
                <th mat-header-cell *matHeaderCellDef> Grade Number </th>
                <td mat-cell *matCellDef="let row"> {{row.gradeNumber}}</td>
              </ng-container>
  
              <!-- gradeName Column -->
              <ng-container matColumnDef="gradeName">
                <th mat-header-cell *matHeaderCellDef> Grade Name </th>
                <td mat-cell *matCellDef="let row"> {{row.gradeName}}</td>
              </ng-container>
  
              <!-- basic Column -->
              <ng-container matColumnDef="basic">
                <th mat-header-cell *matHeaderCellDef> Basic </th>
                <td mat-cell *matCellDef="let row"> {{row.basic | number :'1.2-2'}}</td>
              </ng-container>
  
              <!-- houseRent Column -->
              <ng-container matColumnDef="houseRent">
                <th mat-header-cell *matHeaderCellDef> House Rent </th>
                <td mat-cell *matCellDef="let row"> {{row.houseRent | number :'1.2-2'}}</td>
              </ng-container>
  
              <!-- medicalAllowance Column -->
              <ng-container matColumnDef="medicalAllowance">
                <th mat-header-cell *matHeaderCellDef> Medical Allowanc </th>
                <td mat-cell *matCellDef="let row"> {{row.medicalAllowance | number :'1.2-2'}}</td>
              </ng-container>
  
              <!-- totalSalary Column -->
              <ng-container matColumnDef="totalSalary">
                <th mat-header-cell *matHeaderCellDef> Total Salary </th>
                <td mat-cell *matCellDef="let row"> {{(row.houseRent) + (row.medicalAllowance) + (row.basic) | number :'1.2-2'}}</td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-template>
        </div>