<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 p-3 mb-2 bg-light text-dark">
            <div>
                <h4 class="card-title text-dark">Gateway Detail</h4>
                <ul class="list-group">
                    <li class="list-group-item">Id: <span class="badge">{{gateway.gatewayOid}}</span></li>
                    <li class="list-group-item">Serial Number: <span class="badge">{{gateway.serialNumber}}</span></li>
                    <li class="list-group-item">Gateway Name: <span class="badge">{{gateway.gatewayName}}</span></li>
                    <li class="list-group-item">IPv4 Address: <span class="badge">{{gateway.ipv4Address}}</span></li>
                </ul>
            </div>
            <br/>
            <div>
                <h5 class="text-center">Peripheral Device List</h5>
            
                <table class="table table-striped">
                <thead>
                    <tr>
                    <th>UID</th>
                    <th>Vendor</th>
                    <th>Created On</th>
                    <th>Status</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of peripheralDevices">
                        <td>{{device.uid}}</td>
                        <td>{{device.vendor}}</td>
                        <td>{{device.createdOn}}</td>
                        <td>{{device.status}}</td>
                        <td><button class="btn btn-danger" (click)="deleteDebice(device)"> Delete Device</button></td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <h4 class="card-title text-muted">Add Peripheral Device</h4>
            <form #device="ngForm" (ngSubmit)="createDevice(); device.resetForm()">
              <div class="form-group">
                <label for="name">Vendor:</label>
                <input [(ngModel)]="deviceCreate.vendor" type="name" 
                required #vendor="ngModel" [class.is-invalid]="vendor.invalid && vendor.touched"
                placeholder="Vendor" name="Vendor" class="form-control" id="Vendor">
                <small class="text-danger" [class.d-none]= "vendor.valid || vendor.untouched">Vendor is required</small>
              </div>

              <div class="form-group">
                <label for="status">Status::</label>
                <select [(ngModel)]="deviceCreate.status" id="status" name="statsu"  
                required #status="ngModel" [class.is-invalid]="status.invalid && status.touched"
                placeholder="Status" class="form-control">
                    <option *ngFor="let st of statusList" [value]="st">{{st}}</option>
                </select>
                <small class="text-danger" [class.d-none]= "status.valid || status.untouched">Please select status</small>
              </div>
              <button [disabled]="device.form.invalid" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>
</div>
